body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.nav li a {
  color: black;
  }
.link {
  color:rgb(153, 79, 79);
  }
.my-class {
  padding: 20px;
  background-color:#e9ecef;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  }
.text {
  text-align: center;
  }
  
  .fun {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }