body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-image: url('/Users/ebrurice/Desktop/Epicodus/portfolio/img/pax.jpg');
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
}
.nav li a {
  color: black;
  }
.link {
  color:rgb(153, 79, 79);
  }
.my-class {
  padding: 20px;
  background-color:#e9ecef;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  }
.text {
  text-align: center;
  }
.jumbotron {
  background-color: #E3EEEA;
}  

.card {
  background-color: #EFF5F3;
}
